/*basic css reset */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #02507F ;
  transition: all 0.5s ease-in;
}
/*hides alert display*/
.hide{
  display: none!important ;
}
/*shows error when there's no input */
.error{
  width:14rem;
  height: 2rem;
  color: red!important ;
  border-radius :0.25rem;
  text-align: center;
  padding: 0.8rem 0;
  margin: 1rem auto ;
}

/*SIDEBAR */
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  min-height: 100%;
  background: #02507F;
  transition: all .5s ease;
  z-index: 6;
}
.sidebar header {
  font-size: 22px;
  color: white!important ;
  line-height: 70px;
  padding-left: 40px;
  background: #02507e;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 10%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white ;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a:hover{
  padding-left: 50px;
  background: #fff !important ;
  color:#02507F  !important  ;
}
.active{
    background: #fff;
    color:#02507F  !important  ;
    text-shadow: 1px 1px 0 #02507F ;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #02507e;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 5px;
  top: 5px;
  font-size: 25px;
  color: white!important ;
  padding: 6px 12px;
  transition: all .5s;
  z-index: 500;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #fff!important ;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
/*fifo logo*/
.fifo{
  width: 14rem;
}
/*nav paragraph*/
.nav_para{
  font-size: 80%;
  margin-top: 0.5rem;
}
main{
    text-align: center ;
    
}
/*header */
header.trial{
  display:flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center ;
  background: #02507F;
  color:#fff ;
  padding:1rem 5%;
}
img.logo{
  max-width: 8rem ;
  max-height: 5rem;
  border-radius :50%;
  margin-top: 1rem ;
}
nav{
  text-align: center ;
} 

div.occupy{
  width:6rem ;
  display: none;
}

/*section{
  min-height: 100%;
  transition: 0.5s;
  text-align: center ;
  padding: 2rem;
  
  
}*/
article.account{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center ;
  align-content: center ;
  grid-gap :2rem ;
  margin-top :3.2rem ;
  color: #02507F;
}
marquee{
    margin-top: 4rem ;
}

/*account cards*/
div.account_card{
  background:linear-gradient(315deg, #e6e6e6, #fff) ;
  box-shadow:  0px 29px 31px #d9d9d9, 0px 29px 31px #ffffff;
  box-sizing: border-box;
  border-radius: 1rem;
  width: 16rem;
  height :8rem;
  display: grid;
  grid-template-rows: 10fr 2fr;
  padding: 1rem;
  margin: 0 auto ;
} 

h2.account_card_header{
  text-align: left;
  font-size :120%;
  font-weight :300;
}

p.account_card_figure{
  text-align: right ;
  font-size :110%;
}
p.profit{
  color: #02507F ;
} 
p.loss{
  color: #e01e14;
}

div.account_sales,
div.account_expenses{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 16rem;
}
label{
    font-size: 140%;
    font-weight :300;
}

/*input group*/
.account_sales_input-group,
.account_expenses_input-group{
    display: flex;
    width: 100%;
    height:2.5rem;
    margin:  1rem auto;
    transition: all .5s;
    border-radius: 0.5rem ;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20) inset;
}

.account_sales_input-group:hover,
.account_expenses_input-group:hover{
  width: 105%;
  transition: all .5s;
}

span.account_sales_icon,
span.account_expenses_icon{
  padding: 0.625rem;
  color: #fff;
  min-width: 2rem;
  text-align: center;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
span.account_sales_icon{
    background: #02507F;
}
span.account_expenses_icon{
    background: #e01e14;
}

/*sales and expense input*/
#sales_input,
#expenses_input{
  width: 100%;
  outline: none;
  background: #fff;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 0.5px solid #02507F;
  cursor: text;
  height:auto;
  text-align: center;
  font-size: larger;
  transition: all 0.2s ease-in-out;
  background:linear-gradient(315deg, #e6e6e6, #fff) ;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #fff;
}
#sales_input{
  color: #02507F ;
}
#sales_input:focus{
  border: 1px solid #02507F;
  color: #02507F;
  box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
}

input::placeholder{
  text-align: center ;
  font-size: 70%;
  color :#AFABA5;
}

#expenses_input{
  color: #e01e14;
}
#expenses_input:focus{
  border: 1px solid #e01e14;
  color: #e01e14;
}
em{
  text-align:center ;
  opacity:0.7;
  font-size :0.87rem;
}

/*calculate button div*/
#calculate{
  margin: 4rem auto;
  padding: 0 auto 0 20px ;
  text-align: center ;
  min-width: 100%;
}

/*calculate button */
input[type="button"]{
  min-width: 40%;
  min-height: 3rem;
  font-size: 200%;
  padding: 0.35rem 0.5rem;
  text-transform: lowercase;
  border-radius: 1rem;
  color: #02507F ;
  outline: none;
  border: none ;
  background-color:#EBECF0;
  text-shadow: 3px 3px 0 #fff;
  box-shadow: -5px -5px 20px #BABECC,  5px 5px 20px #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

input[type="button"]:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

input[type="button"]:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
}

/**********log out alert **********/
div.modal{
  /**/
  min-width: 100% ;
  background-color: white;
  margin-top :500px ;
  padding: 2rem ;
  border-radius: 0.3rem ;
  overflow: hidden ;
  min-height:100vh;
  min-height: -webkit-fill-available;

  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /*vertically aligns the main section*/
  overflow: hidden ; 
  color: red;
  background-color :rgba(0,0,0,0.4);
  z-index: 40060;
}
div.sub{
    display :flex ;
    background:rgba(0, 0, 0, 0.5);
    backgrond: #fff;
  width:100% ;

  margin: 0 auto ;
  flex-direction: column;
  justify-content: center ;
  align-items : center !important ;
  height: 100% !important ;
  min-height: -webkit-fill-available;
  overflow: hidden ;
  position :fixed ;
  padding: 1rem ;
}
div.sbb{
    display: flex ;
    background :white ;
    flex-direction :column ;
    justify-content :center ;
    align-items: center ;
    padding: 2rem ;
    max-height: 100%;
    margin: 0 auto ;
    background:linear-gradient(315deg, #e6e6e6, #fff) ;
    border-radius:0.5rem ;
  box-shadow:  0px 29px 31px #333, 0px 29px 31px #333;

 
    
}
h1.modal_header{
    align-self: flex-start;
    border-bottom: 3px  solid red ;
    margin-bottom: 1.5rem ;
    color :#02507F ;
    font-size: 150% ;
}
p.modal_question{
    align-self: flex-start ;
    color :#02507F ;
    font-size :70%;
}
div.modal input{
    display :block ;
    width :100%;
    margin: 1rem 0;
    color :red;
    border :1px solid red ;
    text-shadow: 1px 1px 0 #c4c4c4 ;
    text-transform:capitalize;
    font-size: 110%;
    border-radius :1.8rem;
    max-height: 0.4rem !important;
}

input#yes{
    margin-top: 3rem ;
} 
/**********MEDIA QUERIES**********/
@media all and (min-width:768px){
 .error{
    height:2rem;
 }

 .fifo{
    width: 20rem;
    margin-top: 0;
  }
.nav_para{
    font-size: 80%;
    margin-top: 0.3rem;
  }
  article.account{
    display: grid;
    grid-template-columns:  1fr  1fr;
    grid-gap :2rem ;
    justify-content: space-around;
  }
  div.account_card{
    width:19rem;
    height:auto ;
  }
  div.account_sales,
  div.account_expenses{
    margin-top :5rem;
  }
  input[type="button"]{
    text-transform: uppercase;
}
  header.trial{
    display:flex;
    flex-direction: row !important;

    justify-content: space-between ;
    align-items: center ;
    color:#fff ;
    padding:0.5rem 5%;
}
  img.logo{
    max-width: 6rem ;
    max-height: 3rem;
    border-radius :50%;
    margin-top: 0;
}
  div.occupy{
    width:6rem ;
    display: block ;
  }
  h1.modal_header{
    font-size: 200%;
  }
  p.modal_question{
    font-size: 90%;
  }
  div.modal input{
    height: 2rem;
  }
}
